<!DOCTYPE html>
<html>
<head>
  <title>Overall Attendance</title>
  <style>
    table {
      width: 50%;
      border-collapse: collapse;
      margin-top: 20px;
      margin: auto;
    }
    th, td {
      border: 1px solid black;
      padding: 10px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
      text-align: center;
    }
    table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-top: 20px;
  text-align: center;
}

a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #007BFF;
  text-align: center;
  margin: auto;
  width: 100%;
  margin-top: 20px;
}

a:hover {
  text-decoration: underline;
}
body{
    font-family: 'Montserrat', sans-serif;

}
  </style>
</head>
<body>
  <h1>Overall Attendance for {{student.name}}</h1>
  <table>
    <thead>
      <tr>
        <th>Session ID</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each student.attendance}}
        <tr>
          <td>{{@key}}</td>
          <td>{{this}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <a href="/index">Back to Home</a>
</body>
</html>
